# Лабораторна робота №2

## №1. 
В першому завдані нічого складого: командою print() виводимо потрібні нам речення.

In [4]:
print("Programming", "Essential", "in")
print("Python\n")

Programming Essential in
Python

## №2
В другому нам потрібно вивести стрілочку з знаків. Я вирішив це функцією в якій є список котрий виводиться полнійно циклом:

In [5]:
def print_arrow():
    arrow= [
        "    *",
        "   * *",
        "  *   *",
        " *     *",
        "***   ***",
        "  *   *",
        "  *   *",
        "  *   *",
        "  *****\n",
    ]
    for line in arrow:
        print(line)
print_arrow()

    *
   * *
  *   *
 *     *
***   ***
  *   *
  *   *
  *   *
  *****

## №3-4
Третє завдання аналогічне до 1, а в четвертому все той ж print() разом з \n:

In [9]:
print("I'm student")
print("\n\"I'm\"\n\"\"learning\"\"\n\"\"\"Python!\"\"\"")

I'm student

"I'm"
""learning""
"""Python!"""

## №5-6
Треба перевести числа з восмирічного (500) та шестнадцятирічного (777) системи числень відповідно в десяткову:

In [10]:
number1 = 0o500
number2 = 0x777
print("\nnumber 1 = ",number1," number 2 = ",number2)

number 1 =  320  number 2 =  1911